.buttonContainer{
    width:100%;
    display:flex;
    justify-content: center;
}

.button{
    padding:7% 0;
    width: 100%;
    max-width:100%;
border-radius:5px;
font-weight:thin;
display: flex;
justify-content: center; 
border:1px solid transparent;
font-size: 20px;
color:grey;
}
