.navbar{
    width:68%;
    height:65%;
    /* background: rgb(117, 33, 33); */
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
    height: 80%;
    list-style-type: none;
    Color:#00204a;
    text-decoration:none;

}
.links:hover{
    font-size: 22px;
    transition:1.5s;
    text-decoration:none;


}
.links:link,.links:visited,.links:active{
    font-size: 17px;
    text-decoration:none;

}